<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'main:home' %}">Home</a>
            <a href="{% url 'main:about' %}">About</a>
            <a href="{% url 'main:profile' %}">Profile</a>
            <a href="{% url 'main:change_password' %}">Change Password</a>
            <a href="{% url 'main:logout' %}" class="nav-logout">Logout ({{ request.user.username }})</a>
        {% else %}
            <a href="{% url 'main:login' %}">Login</a>
            <a href="{% url 'main:register' %}">Register</a>
        {% endif %}
    </nav>

    <h1>About us</h1>
    <p>Django Project</p>

    {% if user.is_staff %}
        <div class="staff-box">
            <h2>Staff Info</h2>
            <p>You are viewing this as a staff member: <strong>{{ request.user.username }}</strong></p>
        </div>
    {% endif %}


</body>
</html>
